<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 Magevolve Ltd. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <wlae>
            <basic>
                <active>0</active>
                <segmentation>0</segmentation>
            </basic>
            <email>
                <items>2</items>
                <recipient_email><![CDATA[hello@example.com]]></recipient_email>
                <sender_email_identity>custom2</sender_email_identity>
                <email_template>wlae_email_email_template</email_template>
            </email>
        </wlae>
    </default>
</config>
